@model QualityHats.Models.ShoppingCartViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Default";
}

<div class="container">
    <h2 class="title"><span class="glyphicon glyphicon glyphicon-shopping-cart"></span> Your Cart</h2>
    <div class="row">
        <div class="col-sm-2">
            <h4 class="display-4">Hat ID</h4>
        </div>
        <div class="col-sm-2">
            <h4 class="display-4">Hat</h4>
        </div>
        <div class="col-sm-2">
            <h4 class="display-4">Hat Category</h4>
        </div>
        <div class="col-sm-2">
            <h4 class="display-4">Quantity</h4>
        </div>
        <div class="col-sm-2">
            <h4 class="display-4">Price</h4>
        </div>
    </div>

    @foreach (var item in Model.CartItems)
    {
        <div class="row">
            <div class="col-sm-2">
                <a asp-action="Details" asp-route-id="@item.Hat.HatID">@item.Hat.HatID</a>
            </div>
            <div class="col-sm-2">
                <a asp-action="Details" asp-route-id="@item.Hat.HatID">@item.Hat.HatName</a>
            </div>
            <div class="col-sm-2">
                <a asp-action="Details" asp-route-id="@item.Hat.HatID">@item.Hat.Category.CategoryName</a>
            </div>
            <div class="col-sm-2">
                @item.Count<a asp-action="RemoveFromCart" asp-controller="ShoppingCart" asp-route-id="@item.Hat.HatID"><span class="glyphicon glyphicon-remove-circle"></span></a>
            </div>
            <div class="col-sm-2">
                $@item.Hat.UnitPrice
            </div>
        </div>
    }

    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-2">Subtotal:</div>
        <div class="col-sm-2">$@Model.CartTotal</div>

    </div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-2">GST:</div>
        <div class="col-sm-2">$@Model.CartGST.ToString("0.##")</div>

    </div>
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-2">Grand Total:</div>
        <div class="col-sm-2">$@Model.CartGrandTotal.ToString("0.##")</div>

    </div>

    @if (@Model.CartItems.Count > 0)
    {
        <div class="row">
            <div class="col-sm-offset-6">
                <a asp-action="EmptyCart" asp-controller="ShoppingCart" class="btn btn-danger">Empty Cart</a>             
                <a asp-action="Create" asp-controller="Orders" class="btn btn-success">Proceed To Checkout <span class="glyphicon glyphicon-step-forward"></span></a>
            </div>
        </div>
    }

</div>
