@model QualityHats.Models.Order

@{
    ViewData["Title"] = "Create";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h3>Please confirm your details</h3>
<hr />
<dl class="dl-horizontal">
    <dt>
        Customer Name
    </dt>
    <dd>
        @ViewBag.userInfo.FullName
    </dd>
    <dt>
        Email
    </dt>
    <dd>
        @ViewBag.userInfo.Email
    </dd>
    <dt>
        Address
    </dt>
    <dd>
        @ViewBag.userInfo.Address
    </dd>
    <dt>
        Mobile
    </dt>
    <dd>
        @ViewBag.userInfo.MobileNumber
    </dd>
    <dt>
        Home
    </dt>
    <dd>
        @ViewBag.userInfo.HomeNumber
    </dd>
    <dt>
        Work
    </dt>
    <dd>
        @ViewBag.userInfo.WorkNumber
    </dd>
</dl>
<form asp-action="Create">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a asp-controller="CustomerHats" asp-action="Index" class="btn btn-warning">Back To Hats</a>
                <button type="submit" class="btn btn-success">
                    Place Order <span class="glyphicon glyphicon-fast-forward"></span>
                </button>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
