@model QualityHats.Models.ApplicationUser

@{
    ViewData["Title"] = "Customer Details";
}

<h2 class="title">Customer Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            User Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Email Confirmed
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HomeNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HomeNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
