@model QualityHats.Models.Category

@{
    ViewData["Title"] = "Details";
}

<h2 class="title">Details</h2>

<div>
    <h4 class="title">Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hats)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Hat Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                @foreach (var item in Model.Hats)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.HatName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
