@model QualityHats.Models.Hat

@{
    ViewData["Title"] = "Hat Details";
}

<h2>Hat Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
        </dt>
        <dd>
            <img style="width: 250px; height: auto;" src="@Href("~" + Model.ImagePath)" alt="Hat Image" onerror="this.onerror = null; this.src = '@Href("~/images/Error.jpg")'">
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HatName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HatName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => Model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(modelItem => Model.Supplier.SupplierName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HatID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
